<div class="container-fluid">

    <!--==============================================Nutrition Heading======================================================-->
    <div class="row">
        <div class="col-12 hero" style="background-image: url('assets/images/nutris.jpg');">
            <div class="custom-shape-divider-top-1688108248">
                <svg data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
              </div>
            <div class="nutrition">
                <h1>NUTRITION</h1>
                <p class="pt-4">Diet is the essential key to all successful
                    healing. Without a proper balanced diet, the effectiveness
                    of herbal treatment is very limited.</p>
            </div>


            <!--=============================================Options=======================================================-->

            <div class="row">
                <div class="options">

                    <button class="col-3 opt active" (click)="disRecipes()"
                        [style.background-color]="optionrecipecolor">
                        Healthy Recipes
                    </button>

                    <button class="col-3 opt" (click)="disGain()" [style.background-color]="optiongaincolor">
                        Gain Mass
                    </button>

                    <button class="col-3 opt" (click)="disLoss()" [style.background-color]="optionlosscolor">
                        Loss Fat
                    </button>

                </div>
            </div>

        </div>
    </div>


    <!--==============================================Recipes=======================================================-->
    <div class="row recipes " *ngIf="var_recipes">
        <div class="col-12">
            <h1 class="text-center mb-5">Healthy Recipes</h1>
            <div *ngFor="let recipe of recipes" class="recipes-detail">
                <div class="details">
                    <img src="{{recipe.image}}" alt="" srcset="">
                    <p>{{recipe.head| uppercase}}</p>
                    <p class="ename mt-2"><strong>{{recipe.title | titlecase}}</strong></p>
                    <p>Maker: {{recipe.maker}}</p>
                    <a href="{{recipe.link}}" target="_blank" class="buttonLink ">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!--============================================== WeightGAin=======================================================-->

    <div class="row gain-weight" *ngIf="var_weightgain">
        <div class="col-12">
            <h1 class="text-center mb-5">Weight Gain Diet Plan</h1>
            <div class=" table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Meal/Day</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of weightgain">
                            <td>{{item.meal}}</td>
                            <td>{{item.monday}}</td>
                            <td>{{item.tuesday}}</td>
                            <td>{{item.wednesday}}</td>
                            <td>{{item.thursday}}</td>
                            <td>{{item.friday}}</td>
                            <td>{{item.saturday}}</td>
                            <td>{{item.sunday}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!--==============================================Weight Loss======================================================-->

    <div class="row Loss-weight" *ngIf="var_weightLoss">
        <div class="col-12">
            <h1 class="text-center mb-5">Weight Loss Diet Plan</h1>
            <div class=" table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Meal/Day</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of weightloss">
                            <td>{{item.meal}}</td>
                            <td>{{item.monday}}</td>
                            <td>{{item.tuesday}}</td>
                            <td>{{item.wednesday}}</td>
                            <td>{{item.thursday}}</td>
                            <td>{{item.friday}}</td>
                            <td>{{item.saturday}}</td>
                            <td>{{item.sunday}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>